
body{
            background-color: rgb(3, 51, 13);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
}
h1{
            color: rgba(75, 6, 6, 0.856);
}
h2{
            color: rgb(189, 187, 187);
}
p{
          text-align: justify;  color: green;
}
